.jumbotron {
opacity: 50%;
background-image: url("../images/a_sunday_on_la_grande_jatte_georges_seurat_v2_0.jpg");
background-size: cover;
margin-bottom:10px;
}

.row {
margin: 15px 0;
}

@media only screen and (max-width: 600px) {
    form {
        font-size: 14px;
    }
}

body{
	background-image: url("../images/lightpaperfibers.png");
	background-repeat: repeat;
}